<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
        <title>weather</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        {% if debug.show %}
        <pre id="debug">
{{ debug.info }}
        </pre>
        {% endif %}

        <pre id="location">
{{ location.zip }} {{ location.city }}, {{ location.state }} {{ location.country }}
{{ location.lat }}, {{location.lon }}
{{ location.timezone }}
{{ location.ip }}
        </pre>

        <pre id="weather-data">
{{ weather.location }}
{{ weather.timeFriendly }}
{% for alert in weather.alerts %}
    {{ alert }}

{% endfor %}
<img src="{{ weather.currentIcon }}">
{{ weather.current }}
{{ weather.currentTemp }}

Humidity: {{ weather.humidity }}
Wind: {{ weather.wind }}
Pressure: {{ weather.pressure }}
Visibility: {{ weather.visibility }}
Precipitation: {{ weather.precipitation }}

Moon: {{ weather.moon }}
Sunrise: {{ sun.rise | localizeddate('none', 'medium', locale, timezone, "kk:mm") }} ({{ sun.riseDiff | date('%R%h:%I') }})
Sunset: {{ sun.set | localizeddate('none', 'medium', locale, timezone, "kk:mm") }} ({{ sun.setDiff | date('%R%h:%I') }})

Average: {{ weather.average|raw }}
Record: {{ weather.record|raw }}

{% for day in weather.forecast %}
    <img src="{{ day.icon }}">
    {{ day.day }}
    {{ day.summary }}
{% endfor %}

{% for tide in weather.tides %}
    {{ tide.date }} {{ tide.type }} {{ tide.height }}
{% endfor %}

<img src="{{ weather.satellite }}">
        </pre>
    </body>
</html>
