<?php

return [
    // https://www.wunderground.com/weather/api
    'wunderground_key' => '',
    // https://openweathermap.org/appid
    'open_weather_map_key' => '',
    // http://dev.maxmind.com/geoip/geoip2/geolite2/
    'city_db' => '/opt/geoip/GeoLite2-City.mmdb',
    'country_db' => '/opt/geoip/GeoLite2-Country.mmdb',
    'weat_db' => '/var/www/data/weat.db',

    'station_type' => 'AMBWeatherPro_V5.0.6',
    'station_id' => '00:00:00:00:00:00',

    'default_location' => [
        'country' => 'United States',
        'city' => 'Philadelphia',
        'state' => 'Pennsylvania',
        'zip' => '19129',
        'lat' => 39.9526294,
        'lon' => -75.1662118,
        'timezone' => 'America/New_York',
    ],
];
