<?php

return array(
    // https://www.wunderground.com/weather/api
    'wunderground_key' => '',
    // https://openweathermap.org/appid
    'open_weather_map_key' => '',
    // http://geolite.maxmind.com/download/geoip/database/GeoLite2-City.mmdb.gz
    'city_db' => '/opt/geoip/GeoLite2-City.mmdb',
    'country_db' => '/opt/geoip/GeoLite2-Country.mmdb',
    'twig' => array(
        'template_dir' => 'resources/templates',
        'options' => array(),
    ),

    'show_debug' => false,

    'default_location' => [
        'country' => 'United States',
        'city' => 'Philadelphia',
        'state' => 'Pennsylvania',
        'zip' => '19129',
        'lat' => 39.9526294,
        'lon' => -75.1662118,
        'timezone' => 'America/New_York',
    ],
);
