<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta charset="utf-8" lang="en">
    <title>weat</title>
    <link rel="stylesheet" type="text/css" href="weat.css">
    <script src="pv.js" defer init></script>
</head>
<body>

<div v-scope="fetchData()">
    <p v-if="location">{{location.city}}, {{location.state}} {{location.zip}}</p>
    <p v-if="sun">sunrise: {{sun.today.rise}}, sunset: {{sun.today.set}}</p>
    <p v-if="moon">moon: {{moon.today.phase}}, {{moon.today.age}} days old,  {{moon.today.illumination}}% illuminated</p>

    <button
        v-for="(service, index) in services"
        @click="activateService(service, index)"
        v-bind:class="{ active: index === activeButton }"
        :key="index"
    >
        {{service.name}}
    </button>

    <div v-if="weather">
        <div v-if="weather.alerts" class="alert">
            <h4 v-for="alert in weather.alerts">{{alert}}</h4>
        </div>
        <h1>{{weather.currentTemp}}&#176;F</h1>
        <h2>{{weather.current}}</h2>
        <img v-bind:src="weather.currentIcon" height="75" width="75">
        <dl>
            <dt>precipitation</dt><dd>{{weather.precipitationHourly}}" hourly</dd>
            <dt>pressure</dt><dd>{{weather.pressure}}mb</dd>
            <dt>humidity</dt><dd>{{weather.humidity}} %</dd>
            <dt>wind</dt><dd>{{weather.wind}}</dd>
            <dt>visibility</dt><dd>{{weather.visibility}}</dd>
        </dl>
        <div v-if="weather.zones">
            <dl v-for="room in weather.zones">
                <dt>{{room.name}}</dt><dd>{{room.temp}}&#176;F ({{room.humidity}}%)</dd>
            </dl>
        </div>
    </div>
    <div id="debug">
        <pre>{{weather}}</pre>
        <pre>{{location}}</pre>
        <pre>{{sun}}</pre>
        <pre>{{moon}}</pre>
    </div>
</div>

<script src="weat.js"></script>

</body>
</html>
